:root {
  --red: #97121c;
  --black: black;
}
/* Resetting default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global styles */
body {
  font-family: Arial, sans-serif;
  margin: 0 150px;
  border: 2px solid blue;
  padding: 10px;
}

.header {
}

.content {
}

.card {
  display: flex; /* Use flexbox to arrange items in a row */
  justify-content: space-between;
  /* justify-content: space-around; */
  align-items: center; /* Center items vertically */
  border: 3px solid rgb(75, 12, 12); /* Corrected border property */
  padding: 10px;
  margin: 10px 0 0;
}
.card__section {
  border: 1px solid black;
  margin: 0 10px 0;
  padding: 5px;
  display: inline-block;
  width: 50%; /* Each subitem takes 50% of the width */
  height: auto;
  box-sizing: border-box; /* Include padding and border in width calculation */
  background-color: bisque;
  border: 1px solid rgb(9, 9, 74);
  margin: 0 5px;
  padding: 10px;
  border-radius: 10px;

  /* height: 0; */
  /* min-height: 200px; */
  /* min-height: min-content; */
}

.card__section.info {
  display: flex; /* Use flexbox to arrange items in a row */
  justify-content: space-between; /* Space items evenly along the main axis */
  align-items: center; /* Center items vertically */
}

.card__photo {
  border: 2px solid black;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: aquamarine;
}
.card__item {
  border: 1px solid black;
  margin: 0 0px 5px;
  padding: 5px;
  /* display: grid; */
}
.card__image {
}
.card__info {
  flex: 1;
  padding-left: 10px;
}
.card__name {
}
.card__title {
}
.card__address {
}
.card__contact {
}
.card__phone {
}
.card__email {
}
.card__link {
}
.card__subtitle {
}
.card__dates {
}
.card__description {
}
.card__title-one {
}
.card__title-two {
  color: var(--black);
  text-transform: uppercase;
}

.card__title-three {
  color: var(--red);
}
.card__list {
  list-style-type: none; /* Remove default list styles */
  padding: 0;
}

.card__item {
  margin-bottom: 5px; /* Add space between list items */
}

.footer {
}
.footer__copyright {
}

/* * for mobile
.card {
  border: 1px solid black;
  margin: 0 10px 0;
  padding: 5px;
  display: inline-block;
  width: 50%; 
  box-sizing: border-box; 
  border: 1px solid rgb(9, 9, 74);
  margin: 0 5px;
  padding: 10px;
  border-radius: 10px;
}
.card__section {
  border: 1px solid black;
  margin: 0 10px 0;
  padding: 5px;

} */
