.card {
  display: flex; /* Use flexbox to arrange items in a row */
  justify-content: space-between; /* Align items at each end of the container */
  align-items: center; /* Center items vertically */
  border: 3px solid rgb(75, 12, 12); /* Corrected border property */
  padding: 10px;
  .about {
  &__description {
  }
  &__title {
  }
}


.card {
  &__address {
  }
  &__contact {
  }
  &__dates {
  }
  &__description {
  }
  &__email {
  }
  &__image {
  }
  &__info {
  }
  &__item {
  }
  &__link {
  }
  &__phone {
  }
  &__photo {
  }
  &__section {
  }
  &__subtitle {
  }
  &__title {
  }
  &__title-one {
  }
  &__title-three {
  }
  &__title-two {
  }
}


.content {
}
.education {
  &__dates {
  }
  &__degree {
  }
  &__item {
  }
  &__subtitle {
  }
  &__title {
  }
}
.experience {
  &__dates {
  }
  &__description {
  }
  &__item {
  }
  &__position {
  }
  &__subtitle {
  }
  &__title {
  }
}
.footer {
  &__copyright {
  }
}
.header {
}
.profile {
  &__address {
  }
  &__contact {
  }
  &__email {
  }
  &__image {
  }
  &__info {
  }
  &__link {
  }
  &__name {
  }
  &__phone {
  }
  &__photo {
  }
  &__section {
  }
  &__title {
  }
}
